        <!--FormsModule nos sirve para evitar el refresh en formularios-->
        <!-- Ojo -> [] Sirve para establecer una propiedad / conecta con el archivo TS 
                    () Sirve para emitir o escuchar eventos 
            
            ESTO PODEMOS CAMBIAR POR EL NgModel
            [value]="nuevo.nombre"
            (input)="cambiarNombre( $event)
            [(ngModel)]
                
        -->


<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
    <div class="col">
        <!-- El segun "personajes" es el valor del component main , el que esta en corchete es el valor que viene del hijo -->
        <app-personajes [personajee]="personajes"></app-personajes>        
    </div>
    <div class="col">        
        <app-agregar          
            (nuevoPersonaje) = "agregarNuevoPersonaje($event)"   
            [nuevo]= "nuevo"
        ></app-agregar>
    </div>
</div>